vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|31 Aug 2021 05:54:13 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|tp_simple17_white_skyblue2/index.html
vti_author:SR|DESKTOP-1UMQFO4\\renta
vti_modifiedby:SR|DESKTOP-1UMQFO4\\renta
vti_timecreated:TR|06 Aug 2021 03:28:08 -0000
vti_nexttolasttimemodified:TW|06 Aug 2021 03:28:08 -0000
vti_cacheddtm:TX|31 Aug 2021 05:54:13 -0000
vti_filesize:IR|15550
vti_cachedlinkinfo:VX|Q|keyframes.css Q|https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/css/lightbox.css Q|slide.css Q|https://fonts.googleapis.com/css2 S|../images/icon_menu.png S|../images/icon_menu.png S|../images/1.jpg
vti_cachedsvcrellinks:VX|FQUS|tp_simple17_white_skyblue2/css/keyframes.css NQSS|https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/css/lightbox.css FQUS|tp_simple17_white_skyblue2/css/slide.css NQSS|https://fonts.googleapis.com/css2 FSUS|tp_simple17_white_skyblue2/images/icon_menu.png FSUS|tp_simple17_white_skyblue2/images/icon_menu.png FSUS|tp_simple17_white_skyblue2/images/1.jpg
